<section class="container">
    <div class="row">
        <div class="col-md-3 chat-rooms">
            <h1>Bloc Chat</h1>
                <table class="chat-room-list">
                    <tr ng-repeat="#"> <!-- this is where I need to display the rooms in the template using ng-repeat -->
                        <td class="chat-room-number">Room 1</td>
                    </tr>
                    <tr>
                        <td class="chat-room-number">Room 2</td>
                    </tr>
                    <tr>
                        <td class="chat-room-number">Room 3</td>
                    </tr>
                </table>
        </div>
        <div class="col-md-6">
            <div class="active-chat-room">Room 1</div>
        </div>
    </div>
</section>



